{% extends "base.html" %}


{% block content %}
<h1>{% block headline %}{% endblock %}</h1>

<div>
    <h2>Complete form</h2>
    <p>Display the form with all fields in default order without any modifications using the default layout.</p>
    {% block complete_form %}{% endblock %}
</div>

<div>
    <h2>Change layout</h2>
    <p>Display form with layout "ul".</p>
    {% block as_ul %}{% endblock %}
</div>

<div>
    <h2>Single field</h2>
    <p>Display only the first_name field of registration_form.</p>
    {% block single_field %}{% endblock %}
</div>

<div>
    <h2>Two forms</h2>
    <p>The two forms should be displayed, first with "ul" layout and second as "table".</p>
    {% block two_forms %}{% endblock %}
</div>

<div>
    <h2>Field order</h2>
    <p>Display registration_form but show the fields in the order: email, password, first_name, last_name, birthday</p>
    {% block field_order %}{% endblock %}
</div>

<div>
    <h2>Change widgets</h2>
    <p>Use long_form. Change widget of char2 to PasswordInput and use
    DatePicker widget for all DateFields. Display all fields in common order.</p>
    {% block change_widgets %}{% endblock %}
</div>

<div>
    <h2>Exclude a single field widgets</h2>
    <p>Use registration_form. Don't render the birthday field.</p>
    {% block exclude_fields %}{% endblock %}
</div>

<div>
    <h2>Render multiple fields as hidden fields</h2>
    <p>Use long_form. Render all IntegerFields as hidden fields.</p>
    {% block hidden_fields %}{% endblock %}
</div>
{% endblock %}
